:root {
    color-scheme: dark light;
    --schedule-text-color-dark: #eee;
    --schedule-bg-color-dark: #121212;
    --schedule-accent-color-dark: rgba(23, 23, 23);
    --schedule-accent2-dark: rgba(255, 255, 255, .04);
    --schedule-schedulebg-dark: rgba(18, 18, 18, 0.9);
    --schedule-scheduleborder-dark: rgba(255, 255, 255, .2);
    --schedule-red-dark: #f64747;

    --schedule-text-color-light: #5e7072;
    --schedule-bg-color-light: white;
    --schedule-accent-color-light: #f7f7f7;
    --schedule-accent2-light: rgba(0, 0, 0, .04);
    --schedule-schedulebg-light: rgba(255, 255, 255, 0.9);
    --schedule-scheduleborder-light: rgba(0, 0, 0, .2);
    --schedule-red-light: #f22613;

    --schedule-text-color: var(--schedule-text-color-light);
    --schedule-bg-color: var(--schedule-bg-color-light);
    --schedule-accent-color: var(--schedule-accent-color-light);
    --schedule-accent2: var(--schedule-accent2-light);
    --schedule-schedulebg: var(--schedule-schedulebg-light);
    --schedule-scheduleborder: var(--schedule-scheduleborder-light);
    --schedule-red: var(--schedule-red-light);
}

:root.darkMode {
    --schedule-text-color: var(--schedule-text-color-dark);
    --schedule-bg-color: var(--schedule-bg-color-dark);
    --schedule-accent-color: var(--schedule-accent-color-dark);
    --schedule-accent2: var(--schedule-accent2-dark);
    --schedule-schedulebg: var(--schedule-schedulebg-dark);
    --schedule-scheduleborder: var(--schedule-scheduleborder-dark);
    --schedule-red: var(--schedule-red-dark);
}