body {
    background: var(--schedule-bg-color);
    touch-action: manipulation;
    margin: 0;
}

.transition {
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

.schedule-container {
    min-height: 100vh;
    min-height: 100svh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.table-container {
    display: block;
    position: absolute;
    top: 46.25%;
    left: 50%;
    width: 70%;
    max-height: 90%;
    text-align: center;
    transform: translate(-50%, -50%);
}

.toggle {
    fill: var(--schedule-text-color);
    position: absolute;
    left: .5em;
    top: .5em;
    padding: 0;
    cursor: pointer;
}

a:link,
a:visited,
a:hover,
a:active {
    color: var(--schedule-text-color);
    font-weight: bold;
    text-decoration: none;
}

.schedule-footer {
    color: var(--schedule-text-color);
    /* position: fixed; */
    width: 100%;
    box-sizing: border-box;
    bottom: 0;
    left: 0;
    padding: 0.75em;
    font-family: 'Open Sans', 'Helvetica', serif;
    font-size: 100%;
    background-color: var(--schedule-accent-color);
    border-top: 1px solid var(--schedule-accent2);
}

.footer-button {
    font-family: 'Open Sans', 'Helvetica', serif;
    font-weight: bold;
    font-size: 100%;
    cursor: pointer;
    background-color: transparent;
    outline: none;
    border: none;
    color: var(--schedule-text-color);
}

.footer-text {
    padding-right: 1.2em;
    float: right;
    font-size: 115%;
}

.refresh {
    color: #eee;
    position: fixed;
    width: 100%;
    bottom: auto;
    z-index: 1;
    padding: 0.25em 0.25em 0.25em 0.75em;
    background-color: rgb(44, 124, 176);
    border-top: 1px solid rgb(56 149 210);
}

.update,
.update:link,
.update:visited,
.update:hover,
.update:active {
    color: #eee;
    text-decoration: underline;
    font-weight: bold;
}

.footer-selector {
    padding: 3px;
}

.selected {
    color: var(--schedule-red);
}
/* 
@media only screen and (max-width: 500px) {
    .header,
    .timer {
        font-size: 6vmin;
    }
}

@media only screen and (min-width: 2000px) {
    .header,
    .timer {
        font-size: 3.5vmax;
    }
}

@media only screen and (max-width: 1000px) {
    .schedule-container {
        width: 99%;
    }
} */

@media only screen and (max-height: 420px) {
    /* .header,
    .timer {
        font-size: 10vmin;
    } */

    .schedule-container {
        font-size: 5vmin;
    }
}